section {
  background:white;
}

button,.button {
  cursor:pointer;
  background: transparent;
  border: 2px solid $color-primary;
  color: $color-primary;
  font-weight: bold;
  padding: 0.5em;
  font-size: 1.2em;
  @media screen and (max-width: 960px) {
    font-size: 1.1em;
  }
  @media screen and (max-width: 480px) {
    font-size: 1em;
  }

  a {
    text-decoration: none;
    display: block;
  }

  &:hover {
  }

  &:active {
    opacity: 1;
  }
}

.bg-primary-color {
  background-color: $color-primary;
}

.negative {
  * {
    border-color: white;
    color: white;
    input {
		color: black;
		border: black;
	}
  }
  
}
// Forms
form {
  .form-row {
    clear: both;
    margin: 2vh 0;
  }
  .fifty {
	  overflow: hidden;
	  label {
		width: 50%;
		float: left;
	    box-sizing: border-box;
	  }
  }
  
  .align-right {
	  text-align: right;
  }

  .label-text {
    float: left;
    width: 20%;
    margin-right: 5%;
  }

  input,
  textarea {
    border: 2px solid #555;
    padding: 0.5em;
    box-sizing: border-box;
    width: 100%;
    @include at-breakpoint('small') {
	    width: 75%;
    }

    &:focus {
      border-color: $color-secondary;
    }
  }
}

.tabs {
  margin:1em 0;padding:0;
    .tab {
      display:inline-block;
      .tablink {
        display:block;
        font-size: 1.2em;
        padding: 0.5em;
        font-weight: bold;
        text-decoration:none;
      }
    }
}
