button {
  background: transparent;
  border: 2px solid $color-primary;
  color: $color-primary;
  font-weight: bold;
  padding: 0.5em;
  opacity: 0.9;
  font-size: 1.2em;
  @media screen and (max-width: 960px) { font-size: 1.1em;}
  @media screen and (max-width: 480px) { font-size: 1em;}

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}

.bg-primary-color {
  background-color: $color-primary;
}

.negative {
  * {
    border-color: white;
    color: white;
  }
}
