/*
 *  A PROPOS
 */
#a-propos {
  position: relative;
  z-index:1;
  background:white;


  @include at-breakpoint ('medium') {
    .container {
      position:relative;
      height: 100%;
    }
    a.mei-logo {
      top: -1.8em;
      right: -1em;
    }
    height: 100vh;

    &:before {
      content: "";
      position: absolute;
      display: block;
      width: 0;
      left: 0;
      height: 0;
      bottom: 0;
      border-top: 120vh solid $color-primary;
      border-right: 80vw solid transparent;
      z-index: 0;
      top: -10vh;
    }
  }

  & > div {
    overflow: hidden;
  }

  #qui-sommes-nous {
    position: relative;
    background: $color-primary;

    a.mei-logo {
      position: absolute;
      right: 1em;
      top: 1em;
      width: 55px;
      height: 55px;
      background: url("../images/mei.png") no-repeat center center / contain;
      display: block;
    }

    h2 {
      padding-top: 1em;
      padding-right: 60px;
      padding-bottom: 1em;
      margin-bottom: 0;
    }

    .small-container {
      overflow: hidden;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: -3em;
      border-style: solid;
      border-width: 3em 100vw 0 0;
      border-color: $color-primary transparent transparent transparent;
    }

    @include at-breakpoint ('medium') {
      h2 {
        overflow: hidden;
        position: relative;
        margin-bottom: 2vh;
        padding-right: 111px;
      }
      background: none;

      &:after {
        display: none;
      }
    }
  }

  #contact {
    text-align: right;
    margin-top: 12vh;

    @include at-breakpoint ('medium') {
      position:absolute;
      margin-top: 0;
      bottom:0;
      right:0;
    }

    & > p {
      width: 75%;
      text-align: left;
      float: right;
    }
  }
}
