body {
  background: url("../images/home_bg.jpg") no-repeat center center / cover fixed;

}
#landing {
  background:transparent;
  height: 100vh;

  .video-background {
    display: none;
  }

  @include at-breakpoint ('medium') {
    .video-background {
      display: block;
      background: $color-tertiary;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
      overflow: hidden;
    }

    .video-background iframe,
    .video-foreground {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
    @media (min-aspect-ratio: 16/9) {
      .video-foreground {
        height: 300%;
        top: -100%;
      }
    }
    @media (max-aspect-ratio: 16/9) {
      .video-foreground {
        width: 300%;
        left: -100%;
      }
    }
  }
  overflow: hidden;

  .inner {
    height: 100%;
    overflow: hidden;
    width: 100%;
    background: rgba($color-tertiary,0.5);
  }

  #youtube {
    display: none;
  }

  .bg-tilted {
    width: 100%;
    text-align: right;
    overflow: hidden;
    z-index: 3;

    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 0;
      right: 0;
      height: 0;
      bottom: 0;
      border-bottom: 55vh solid $color-primary;
      border-left: 80vw solid transparent;
      @media screen and (max-width: 960px) {
        border-bottom: 40vh solid $color-primary;
      }
      @media screen and (max-width: 480px) {
        border-bottom: 33vh solid $color-primary;
      }
      z-index: 0;
    }

    button {
      z-index: 3;
      position: absolute;
      right: 3vw;
      bottom: 3vw;

      @include at-breakpoint ('small') {
        right: 6vw;
        bottom: 6vw;
      }

      @include at-breakpoint ('medium') {
        right: 5vw;
        bottom: 5vw;
        @media (orientation: landscape) {
          right: 3vw;
          bottom: 3vw;
        }
      }
    }
  }
}

#landingIntro {
  width: 100%;
  z-index: 3;
  position: relative;

  h1.huge {
    line-height: 1.4;
    margin: 0;
    font-size: 7vh;
    text-shadow: 0 0 0.3em $color-tertiary;

    @include at-breakpoint ('small') {
      font-size: 2.8em;
    }

    @include at-breakpoint ('medium') {
      font-size: 3.3em;
    }

    @include at-breakpoint ('large') {
      font-size: 9vh;
    }
  }

  h2 {
    font-size: 1.4em;

    @include at-breakpoint ('small') {
      font-size: 1.8em;
    }
  }
  @media (orientation: landscape) {
    width: 100%;
  }

  @include at-breakpoint ('medium') {
    //width: 70%;
    margin-top: 6vh;

    h2 {
      font-size: 2.2em;
    }
  }
}
