/*
 * Typography
 */

body {
  font-family: "gotham_bookregular", sans-serif;
}
h1,h2,h3,h4 {
  text-transform:uppercase;
}
h1 {
  font-family: "gotham_blackregular";
  &.huge {
    font-size: 3.5em;
    line-height:1.4;
    margin:0;
    @media screen and (max-width: 960px) { font-size: 2.8em;}
    @media screen and (max-width: 480px) { font-size: 2em;}

  }
}




h2 {
  font-family: "gotham_lightregular"
}
