/*
 * Typography
 */
body {
  font-family: "gotham_regular", sans-serif;
  color: $color-tertiary;
}
a {
   outline: 0;
}
p {
  line-height: 1.5;
}

b,
strong {
  font-family: "gotham_mediumregular", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

h1 {
  font-family: "gotham_blackregular";
}

li {
  line-height: 1.5;
}

h2 {
  font-family: "gotham_mediumregular";
  font-weight: 500;
  font-size: 1.7em;
}
.centered {
  text-align:center;
}

.light {
  font-family: "gotham_lightregular";
  font-weight: 200;
}
