// bower:scss
// endbower
@import 'variables';
@import 'layout';
@import 'loadfonts';
@import 'typography';
@import 'reusable';
@import 'section_landing';
@import 'section_intro';
@import 'section_details';
@import 'section_participer';
@import 'section_apropos';

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: $color-tertiary;
  padding: 0.2em 0;
}
